# http://editorconfig.org
# From: https://adamj.eu/tech/2022/01/14/set-up-editorconfig-for-your-django-project/

root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4
